@import 'social-media-icons';

@import url('https://fonts.googleapis.com/css?family=Montserrat');

$color-footer: #222;

$color-text-light: white;
$color-text-medium: #666;
$color-text-dark: #222;

$color-nanobar: lightblue;

$color-linkedin: #2850ad;
$color-github: #070709;
$color-email: #e75c3c;

$font-title: 'Montserrat', sans-serif;
$font-body: 'Open Sans', sans-serif;

html,
body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

* 
{
	margin: 0px;
	padding: 0px;
	
}
.parallax-container
{ 
    height: 220px; 
    width: 100%; 
    background-size: cover; 
}

canvas
{ 
    background-color: transparent;
    z-index: 1; 
    position: absolute;
    width: 100%;
}

h1, p
{ 
    position: relative; 
    z-index: 3;
}

h1 { font-family: $font-title; }

a { color: rgba(0,0,0,0.87); }

p, #coop1, #coop2, #coop3, #coop4 { font-family: $font-body; }
    
li { list-style-type: none; }

.nanobar .bar { background: $color-nanobar; }

.fullWidth{ width:100%; }

._resume, ._work, ._about { padding-bottom: 20px; }

.label
{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.item
{ 
    width: 200px !important;
    height: 250px !important;
    border-radius: 8px;
    word-wrap: break-word;
}

.card-stacked
{
    background-color: transparent; 
    border-radius: 8px;
}

.item h3 { font-size: 24px; }

.label-success { background-color: #5cb85c; }
.label-primary { background-color: #5bc0de; }
.label-warning { background-color: #f0ad4e; }
.label-danger { background-color: #d9534f; }

.success { color: #3c763d; background-color: #dff0d8; }
.success:hover { background-color: #d0e9c6; }
.primary { color: #31708f; background-color: #d9edf7;}
.primary:hover { background-color: #c4e3f3; }
.warning { color: #8a6d3b; background-color: #fcf8e3; }
.warning:hover { background-color: #faf2cc; }
.danger { color: #a94442; background-color: #f2dede; }
.danger:hover { background-color: #ebcccc; }

.collapsible-body { padding: 10px 10px 10px 0px; margin: 0; }
.collapsible-body h3 { font-size: 1.8em; margin-left: 2%;}
.collapsible-body p { font-size: 1.1em; }

footer.page-footer
{ 
    background-color: $color-footer; 
    .footer-copyright { color: $color-text-medium; }
}